#gameTitle {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  text-indent: 0px;
}

#gameDesc {
  text-indent: 30px;
  color: #FFE1E0;
  text-align: justify;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
}