/*Page Formatting*/

.smallPage {
  overflow: hidden;
  max-width: 85vw;
  margin: auto;
}

.home {
  width: 97%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: auto;
}

body {
  background: #9B7EBD;
  background-image: radial-gradient(#7F55B1 1.5px, transparent 0);
  background-size: 40px 40px;
  background-position: -20px 20px;
}

/*Love*/

.loveContainer {
  padding-bottom: 10%;
  display: block;
}

.loveLetter{
  color: #7F55B1;
  background-color: #F49BAB;
  padding: 5%;
  border: 3px solid #7F55B1;
  border-radius: 5px;
}

.lora-head {
  margin-top: 0;  color: #7F55B1;
  margin-bottom: 0;
  text-align: left;
  line-height: 100px;
  text-indent: 0px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 95px;
  font-style: italic;
}

.lora-body {
  text-indent: 3em;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
}

/*Homepage Header*/

header {
    padding-left: 1%;
    padding-right: 2%;
    height: 10%;
    display: flex;
        -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#creatorText {
float: right;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  color: #7F55B1;
  
}

.headerSpace {
    margin-right: auto;
}

.ImgTopLeftIcon {
    height: 70px;
    top: 0;
    left: 0;
  transition: 250ms;
  filter: drop-shadow(0px 5px);
}

.ImgTopLeftIcon:hover
{
  filter: drop-shadow(0px 5px);
}

.ImgTopLeftIcon:active
{
    transform: translateY(5px);
    filter: drop-shadow(0px 0px);
}

/*Title*/
.mainPage {
    height: 100%;
    max-height: 90%;
display: flex;
}

.homeLeft {
  height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    width: 60%;
    max-width: 60%;
}


#titleHeader
{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100%;
  letter-spacing: 5px;
  font-size: 8vw;
  color: #FFE1E0;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: all 100ms;
}

#titleHeader:hover
{
      -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
  color:#7F55B1;
}

.subtitle {
        -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-weight: 200;
  font-size: 1.5vw;
  font-style: normal;
  color: #000;
}

.complimentText {
font-size: .8em;
  text-indent: 0px;
  text-align: justify;
}

/*Aside*/
.homeRight {
    padding-top: 1%;
    padding-bottom: 1%;
  margin-bottom: 1%;
    margin-top: 1%;
      margin-right: 1%;
  display: flex;
  justify-content: space-between;
    width: 40%;
        -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.homeRight img {
display: block;
height: 100%;
width: 100%;    
object-fit: contain; 
}

.homeImageBorder {
  width: 27vw;
  height: 100%;
  padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
    padding-left: 5%;
  background-color: #FFE1E0;
}

#homeRightText {
  text-align: left;
  color: black;
  margin: 0;
}

#rightHomeEnd {
  display: flex;
  flex-direction: column;
}

#rightToggleButton {
  height:3vw;
  width: 3vw;
  position: relative;
  bottom: 0;
  right: 0;
  border:1vw solid #F49BAB;
  background-color: #FFE1E0;
  filter: drop-shadow(0px 10px);
  transition: all 200ms;
}

#rightToggleButton:active {
    transform: translateY(10px);
    filter: drop-shadow(0px 0px);
}

#rightHomeDecor {
  height:32vw;
  width: 3vw;
  margin-top: auto;
  bottom: 0;
  right: 0;
  border:1vw solid #F49BAB;
  background-color: #FFE1E0;
  filter: drop-shadow(0px 10px);
  transition: all 200ms;
}

#rightHomeDecor:active {
    transform: translateY(10px);
    filter: drop-shadow(0px 0px);
}

#rightDecorLink {
  margin-top: auto;
}

/*Navigation*/

a
{
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.nav {
float: left;
  text-decoration: none;
  width: 40%;
  background-color:#FFE1E0; 
  list-style-type: none;
  margin: auto;
  padding: 1%;
}



.nav li {
  text-decoration: none;
  display: block;
  font-size: 1em;
  padding: 10px;
  color: darkslategrey;
  transition: all 500ms;
}

.nav li:hover {
  background-color: #F49BAB;
  color: blueviolet;
  font-size: 1.2em;
  font-size-adjust: 20px;
}

/*UI*/

#reminders {
  text-decoration: none;
  position: absolute;
  top: 5vw;
  right: 10vw;
  max-width: 150px;
  display:none;
  border: 5px solid #7F55B1;
  background-color: #FFE1E0;
  margin: auto;
  padding: 10px;
}

.gameText {
  color: #7F55B1;
  background-color: #F49BAB;
  padding: 5%;
  border: 3px solid #7F55B1;
  border-radius: 5px;
}

.roundedButton {
  background-color:#FFE1E0;
  border: none;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px;
  border-radius: 12px;
  font-size: 20px;
  transition: 500ms;
}

.roundedButton:hover {
  background-color:#c9b3b2;
  border: none;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px;
  border-radius: 12px;
  font-size: 20px;
}

.gameRandomButton {
  display: none;
  color: #000;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  background-color: #FFD2A0;
  margin: 5px;
  font-size: 15px;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  filter: drop-shadow(0px 5px);
}

.gameRandomButton:active
{
    transform: translateY(5px);
    filter: drop-shadow(0px 0px);
}

.homeButton {
  position: fixed;
  top: 2vw;
  right: 5vw;
  color: #000;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  background-color: #FFE1E0;
  margin: 5px;
  font-size: 15px;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  filter: drop-shadow(0px 5px);
}

.homeButton:active
{
    transform: translateY(5px);
    filter: drop-shadow(0px 0px);
}

div.gameList {
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.div.div.gameLis:-webkit-scrollbar {
  display: none;
}

/*Gallery*/
div.containerSmall {
  margin-top: 5%;
}

div.galleryScroll {
  background-color: #F49BAB;
  padding: 1%;
  border: 10px solid #7F55B1;
  overflow: auto;
  white-space: nowrap;
}

div.galleryScroll img {
  display: inline-block;
  color: white;
  margin: 1vw;
  max-width: 250px;
  max-height: 1000px;
}

#galleryScrollTitle {
  margin-bottom: 0px;
  text-indent: 0px;
  color: #FFE1E0;
  text-align: justify;
  font-size: 30px;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Text Formatting*/

h3
{
  margin: auto;
  text-align: center;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
}

p
{
  color: #FFE1E0;
  text-align: justify;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
}



.remindersText
{
  text-indent: 0px;
  color: #000;
  text-align: center;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
}

.gamesListTitle
{
  margin-top: 20px;
  margin-bottom: 0px;
  color: #FFE1E0;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}



.pAbsolute
{
  text-indent: 30px;
  color: #000000;
  text-align: justify;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
}

.lovetext
{
  color: red;
  text-align: center;
}

#gameTitle {
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  text-indent: 0px;
}

#gameDesc {
  margin-top: 0px;
  text-indent: 0px;
  color: #FFE1E0;
  text-align: justify;
  font-size: 30px;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Img*/

#randomQueenImage {
  display: none;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

/*Icons*/

.gameIcon {
  margin: 20px;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  object-fit: cover;
  background-color: #FFD2A0;
  transition: all 300ms;
}

.gameIcon:hover {
  height: 175px;
  width: 175px;
}


.imageflex { display: flex; }
.imageflexcontent { margin-left: 2px; margin-top: 0; }



/*FORMS STUFF*/
.form-group-container {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  display: flex;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.form-input::placeholder,
.form-textarea:focus-visible {
  color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}

.form-textarea {
  min-height: 120px;
}

.form-submit {
  width: 100%;
  margin-top: 1.2rem;
  background-color: #3124ca;
  color: #fff;
  padding: 13px 5px;
  border-radius: 0.375rem;
}